# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# dev env temp files
creds.json
test.py


# React
# Logs
/react/logs
/react/*.log
/react/npm-debug.log*
/react/yarn-debug.log*
/react/yarn-error.log*
/react/pnpm-debug.log*
/react/lerna-debug.log*

/react/node_modules
/react/dist
/react/dist-ssr
/react/*.local

# Editor directories and files
/react/.vscode/*
/react/!.vscode/extensions.json
/react/.idea
/react/.DS_Store
/react/*.suo
/react/*.ntvs*
/react/*.njsproj
/react/*.sln
/react/*.sw?

# db settings (contains creds)
/api/pg_settings.json